* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
}

.About_main {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/Abput_us_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.About_box {
    /* border: 1px solid black; */
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .h1 {
        /* height: 22vh; */
        width: 100%;
        text-align: center;
        color: white;
        font-size: 55px;
    }

    .h2 {
        /* height: 22vh; */
        width: 100%;
        text-align: center;
        color: white;
        font-size: 16px;
        font-weight: 200;
    }
}

.OS {
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6%;
}

.OS_S1,
.OS_S2,
.OS_S3 {
    /* padding: 130px 0px 30px 0px; */
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .OS {
        height: 100%;
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        /* padding: 6%; */
    }

    .OS_S1,
    .OS_S2,
    .OS_S3 {
        height: 100%;
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        padding: 6% 0%;
    }

    .OS_s1,
    .OS_s2 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 6%;
        font-size: 14px;

    }

    .our_story {
        font-size: 30px;
    }

    .Counter {
        display: flex;
        /* flex-direction: column; */
        padding-bottom: 4vh;
    }

    .counter_component {
        font-size: 20px;
        padding: 1.5vh;
    }

    .sliderText {
        font-weight: 100;
        font-size: 5.5vw;
    }

}


.OS_s1 {
    /* border: 1px solid black; */
    height: 100%;
    width: 510px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.OS_s2 {
    /* border: 1px solid black; */
    height: 100%;
    width: 510px;
    /* display: grid; */
    justify-content: center;
    /* align-items: ; */
    text-align: justify;
    font-size: 15px;
    font-family: s;
}


.line {
    width: 10% !important;
    height: 2px !important;
    background-color: rgb(248, 187, 92) !important;
    border-top-width: 0px;
}


.bold {
    font-weight: 700;
    font-style: bold;
    font-family: Roboto, sans-serif, Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.p {
    padding-top: 3%;
    /* border: 1px solid black; */
}

.our_story {
    font-size: 2.5vw;
    font-weight: 700;
    line-height: 40px;
}

.Counter {
    font-family: Raleway, sans-serif, Arial, Helvetica, sans-serif;
    /* border: 1px solid black !important; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 100% !important;
    font-weight: 100;
    margin: 30px 0px 50px 0px;
}

.counter_component {
    font-weight: 100;
}

.sliderText {
    color: rgb(136, 136, 136);
    font-size: 1.5vw;
}

@media only screen and (max-width: 425px) {
    .OS {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .OS_S1,
    .OS_S2,
    .OS_S3 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .OS_S2 {
        flex-direction: column-reverse;
    }

    .OS_s1,
    .OS_s2 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 14px;
        text-align: left;
        padding: 2% 0%;
    }

    .img {
        height: 335px;
        width: 423px;
    }

    .our_story {
        font-size: 4vh;
    }

}

@media only screen and (max-width: 425px) {
    .Counter {
        display: flex;
        flex-direction: column;
        padding-bottom: 4vh;
    }

    .counter_component {
        font-size: 20px;
        padding: 1.5vh;

    }

    .sliderText {
        font-weight: 100;
        font-size: 5.5vw;
    }
}