.sliderImages {
    width: 100vw;
    /* height: 100vh; */
    overflow: hidden;
    position: relative;
    top: -9vh;
}

.slider_component {
    position: relative;

}

.sliderText {
    position: absolute;
    top: 30%;
    left: 25%;
}

.sliderText h1 {
    font-size: 3vw;
    color: var(--primary-color)
}

.sliderText p {
    font-size: 1.5vw;
    color: var(--secondary-color)
}

.commit_container {
    display: flex;
    justify-content: space-evenly;
}

.commitmentSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    gap: 10px
}

.commitmentSection div {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.commitmentSection h2 {
    font-size: 1.5vw;
    color: var(--primary-color)
}

.commitmentSection article {
    text-align: center;
    width: 100%;
    color: var(--secondary-color)
}

.services_container {
    /* border: 1px solid black; */
    background-image: url("./src/assets/Our-Services.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.Service_servicess {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 1px solid black; */
    /* height: 80vh; */
    /* width: 85vw; */
    justify-content: center;
    align-items: center;
}

.import,
.impex_solution {
    /*  : 1px solid black; */
    height: 35vh;
    width: 41vw;
    font-size: 18px;
    background-color: black;
    opacity: .5;
    color: white;
    padding: 5%;

}

.import:hover {
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    /* Change this to the desired color */
}

.Export,
.Service_broker {
    /*  : 1px solid black; */
    height: 35vh;
    width: 41vw;
    font-size: 18px;
    background-color: white;
    opacity: .45;
    color: black;
    padding: 5%;
}

.Export:hover {
    background-color: rgba(255, 255, 255);
    /* Change this to the desired color */
}


.Service_broker:hover {
    background-color: rgba(255, 255, 255);
    /* Change this to the desired color */
}

.impex_solution:hover {
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
}

.upper_services {
    display: flex;
    justify-content: center;
    align-items: center;
}

.downe_services {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderproduct {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /* top: -9vh; */
}

.slider_products {
    position: relative;
}

.image {
    width: 0%;
    height: 0%;
    object-fit: cover;
}

.sliderImagesp {
    width: 100vw;
    height: 40vh;
    overflow: hidden;
    position: relative;
    background-color: white;
}

.products_component:hover {
    background-color: rgba(0, 0, 0);
    opacity: 1;
}

.sliderTextp {
    top: 100%;
    position: absolute;
    transition: all .2s ease-out;
    /* background: black;
    opacity: 0.5;
    color: white; */
}

.products_component {
    height: 40vh;
    width: 100vw;
    overflow: hidden;
    /* border: 1px solid red; */
    /* background: #ff0; */
    position: relative;
}

.products_component:hover>.sliderTextp {
    top: 0;
}

.hover {
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}