.container {
    display: flex;
    flex-direction: column;
}

.productSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.productName {
    font-size: 2rem;
    margin: 1.5rem;
    margin-bottom: 0;
}

.image {
    width: 30vw;
    aspect-ratio: 1/1;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.productDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 35vw;
}

.productTable {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
    border-collapse: collapse;
}

.productTable td {
    padding: 4px;
    border: 1px solid #ddd;
}

.productDescription {
    width: 50%;
    margin: 0 auto;
}


/* Other products section styling */

.otherProductsSection {
    margin-top: 40px;
}

.otherProductsGrid {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}

.productLink {
    text-decoration: none;
    color: inherit;
}

.productThumbnail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.productThumbnail:hover {
    transform: scale(1.05);
    /* background-color: var(--secondary-color); */
    box-shadow: 0px 1px 3px var(--primary-color);
}


.btn {
    border: 1px solid #0b0b0b;
    color: white;
    padding: 10px 25px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: .3rem;
}

.btn:hover {
    background-color: var(--secondary-color);
}


.fixedEnquiryButtonContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.fonts {
    border: 1px solid black;
    padding: 10px;
}

.contact_Form2 {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
    .productDetails {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .productDescription {
        max-width: 100%;
        padding: 0 20px;
    }

    .contact_Form2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 426px) {
    .details_head {
        flex-direction: column;
        gap: 0;
    }

    .otherProductsGrid {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .productDescription {
        width: 90%;
    }

    .other_product {
        align-items: center;
        margin: 0;
        gap: 1;
    }

    .productThumbnail {
        flex-direction: column;
    }

    .image {
        width: 100vw;
    }
}

.product_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10%;
    padding: 2% 10%;
}

.images {
    width: 25%;
    margin: 2% 0%;
}

.productt_name {
    text-align: center;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.link:hover {
    transform: scale(1.05);
}

.images {
    width: 220px;
    transition: transform 0.3s ease-in-out;
}

.images:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 426px) {
    .products_head {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .products_description {
        padding: 20px;
        display: flex;
        text-align: justify;
    }

    .product_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .productt_name {
        align-items: center;
        width: 250px;
    }

    .images {
        width: 220px;
    }

    .fixedEnquiryButtonContainer {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 1000;
    }
}

.productDetails {
    margin-top: 16px;
}

.productTable {
    width: 100%;
    border-collapse: collapse;
}

.tableHead {
    background-color: var(--secondary-color);
}

.tableHeadCell {
    color: white !important;
    font-weight: bold !important;
    padding: 16px !important;
    border-right: 1px solid white;
}

.tableBodyRow {
    &:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
}

.tableBodyCell {
    padding: 10px !important;
}
