.sliderImages {
    padding: 7% 0% 0% 0%;
}

.slider_component {
    /* height: 5%; */
    text-align: center;
    /* padding-top: 10%; */
    /* border: 2px solid red; */

}

.slider_component:hover .img_bg {
    background-color: rgb(2, 61, 85);
    transition: 2s ;
    /* transition: .5s ease; */
       margin: auto;
    border-radius: 20%;
    overflow: hidden;
    /* transition: .5s ease; */
    z-index:-1;
    border-radius: 10%;
  font-size: 30px;
  color: white;
}


.img {
    height: 190px;
    width: 190px;
    z-index: 1;
    position: relative;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    background-color: white;
    /* bottom: 10px; */
    border: 2px solid black;
}

.img_bg {
    height: 170px;
    width: 250px;
    display: block;
    position: relative;
    top: -130px;
    margin: auto;
    border-radius: 20%;
    /* color: white; */
    /* border: 1px solid black; */
    /* z-index: 2; */
    
}
/* .img_box{
    height: 210px;
    width: 210px;
    display: block;
    position: relative;
    top: 150px;
    margin: auto;
    border-radius: 50%;
    /* border: 2px solid rgb(2, 61, 85); */
    /* z-index: -1;

} */ 
.sliderText {
    /* position: relative; */
    /* top: -190px; */

    /* width: 100%;
    height: 100%; */
    /* background-color: rgb(76, 48, 233); */
}

.name {
    height: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: rgb(2, 61, 85);
    font-family: Manrope, sans-serif;
}

.titel {
    text-align: center;
}

.our {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    color: rgb(80, 167, 44);
    margin-bottom: 4vh;
    margin-top: 3vh;
}

.offering {
    font-size: 45px;
    font-weight: 600;
    color: rgb(2, 61, 85);
}

.slider_component_category {
    width: 80% !important;
    /* height: 300px !important; */
    margin: 0% 10% !important;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.slider_component_category img {
    border-radius: 1rem;
    transition: all 0.3s;
}

.slider_component_category:hover img {
    transform: scale(1.1);
}

.name_category {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    margin-top: 1vw;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s;
}

.name_category:hover {
    color: rgba(0, 0, 255, 0.637);
    text-decoration: underline;
}

.slider_main {
    margin: 5% 0%;
}
.img_bg:hover {
    /* opacity: 1; */
    color: white;

   
}
.name:hover {
    /* color: white; */
    /* z-index: 5; */
}

@media screen and (max-width: 768px) {
    .name_category {
        font-size: 2.2vw;
    }
    .img {
        height: 150px;
    }
    .Slider_products {
        height: 53vh;
    }
}

@media screen and (max-width: 426px) {
    .name_category {
        font-size: 4.5vw;
    }
    .name {
        font-size: 18px;
    }
}

@media screen and (max-width: 421px) {
    .name_category {
        font-size: 5vw;
    }
}


